.activesubstance {

	padding: 10px;
	background-color:transparent;
	min-height:200px;
	height:auto;
	border-radius:5px;
	border: 1px solid rgba(28, 28, 28, 0.3);
	width:100%;
	margin-bottom:10px;

}

.list {

	list-style:none;
	padding:10px;

}

.new {

	border-radius:5px;
	padding:5px;
	color:white;
	height: 40px;
	width:auto;
	background-color:#13ef29;
	float:right;
	border:none;
	outline:none;

}

